<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Image</title>
    <!-- Bootstrap CSS CDN -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Upload an Image</h1>

      <!-- Display Flash Messages -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-info" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}

      <!-- Upload Form -->
      <form
        method="post"
        enctype="multipart/form-data"
        class="border p-4 rounded bg-light"
      >
        <div class="form-group">
          <label for="file">Choose Image:</label>
          <input
            type="file"
            name="file"
            class="form-control-file"
            id="file"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Upload</button>
      </form>

      <!-- Display the Generated Caption -->

      {% if caption_generated %}
      <p>{{ caption_generated|safe }}</p>
      {% endif %}

      <!-- Display Uploaded Image -->
      {% if uploaded_image_url %}
      <div class="mt-4">
        <h4>Uploaded Image Preview:</h4>
        <img
          src="{{ uploaded_image_url }}"
          class="img-fluid img-thumbnail"
          alt="Uploaded Image"
        />
      </div>
      {% endif %}
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
